@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.fon {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.btn-1 {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  padding: 17px 35px 16px;
  text-align: center;
  z-index: 1;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.5s;
  background-color: #c77a63;
}
.btn-1:hover {
  color: #fff;
}
.btn-1 span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #2c2a49;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.btn-1 i {
  margin-left: 15px;
  font-size: 24px;
  transition: 0.5s;
  font-weight: bold;
  vertical-align: middle;
  position: relative;
  line-height: 15px;
  top: -2px;
}
.btn-1:hover i {
  color: #fff;
}
.btn-1:hover span {
  width: 225%;
  height: 562.5px;
}
.btn-1.s-two {
  background: #ffffff00;
  color: #242424;
}
.btn-1.s-two:hover {
  color: #fff;
}
.btn-1.btn-small.btn-alt,
.btn-1.btn-small {
  padding: 11px 30px 10px;
}

.btn-1.btn-large {
  padding: 22px 45px 21px;
}

/* btn-alt */
a.btn-1.btn-alt {
  color: #000000;
  background: #ffffff00;
  border: 1px solid #1c1b1b;
  padding: 16px 35px 15px;
}

a.btn-1.btn-alt:hover {
  color: #fff;
  border-color: #c77a63;
}

.btn-1.btn-alt span {
  background: #c77a63;
}
.header-top-1-login a:hover {
  color: #c77a63;
}
.btn-1:hover {
  text-decoration: none;
  outline: none;
  color: #c77a63 !important;
  border: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
figure.snip1197 {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  margin: 10px;
  min-width: 400px;
  max-width: 480px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1197 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1197 img {
  float: right;
  max-width: 40%;
  vertical-align: middle;
  border-radius: 0 8px 8px 0;
}
figure.snip1197 figcaption {
  top: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px 0 0 8px;
}
figure.snip1197 blockquote {
  position: relative;
  padding: 25px 50px 25px 50px;
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1197 blockquote:before,
figure.snip1197 blockquote:after {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1197 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1197 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0px;
}
figure.snip1197 .arrow {
  top: 30px;
  left: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}
figure.snip1197 .author {
  position: absolute;
  top: 100%;
  width: 60%;
  padding: 10px 15px;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}
figure.snip1197 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1197 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}
.slick-prev:before {
  content: "←";
  color: black !important;
}
.slick-prev {
  left: 200px !important;
  top: 40% !important;
}
@media only screen and (max-width: 320px) {
  .slick-prev:before {
    content: "←";
    color: rgba(0, 0, 0, 0) !important;
    display: none !important;
  }
}
@media only screen and (max-width: 320px) {
  .slick-next:before {
    content: "→";
    color: rgba(0, 0, 0, 0) !important;
    display: none !important;
  }
}
.slick-next:before {
  content: "→";
  color: black !important;
  display: block;
}
.slick-next {
  right: -9px !important;
  top: 47% !important;
}
.slick-dots {
  position: absolute;
  bottom: 0px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-prev:before,
.slick-next:before {
  font-size: 45px !important;
}
@media (min-width: 1024px) {
  .lg\:-right-\[53px\] {
    right: -132px !important;
  }
}

#brand > div > button.slick-arrow.slick-prev {
  display: none !important;
}
/* #brand > div > button.slick-arrow.slick-next {
  display: none !important;
} */
.Phone-Input--focus {
  border: 0 !important;
}
.PhoneInputInput {
  border: 0 !important;
}
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.slick-slide {
  width: 490px !important;
}
.slick-prev:before {
  content: "←";
  color: black !important;
  display: none !important;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bg-default {
  --tw-bg-opacity: 0;
  background-color: none !important;
  color: white !important;
}
.no-bg {
  background-color: none !important;
}
.overflow-hidden {
  overflow: visible !important;
}
.box {
  position: relative;
}

.box-body {
  position: relative;
  height: 100px;
  width: 150px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #cc231e;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  background: linear-gradient(#762c2c, #ff0303);
}
.box-body .img {
  opacity: 0;
  transform: translateY(0%);
  transition: all 0.5s;
  margin: 0 auto;
  display: block;
  text-align: center;
}
.box-body.active {
  cursor: pointer;
  animation: box-body 1s forwards ease-in-out; /* Existing animation for the body */
}

.box-body.active .img {
  opacity: 1;
  z-index: 0;
  transform: translateY(-50px); /* Existing hover effect for the image */
}

.box-body.active .box-lid {
  animation: box-lid 1s forwards ease-in-out; /* Existing animation for the lid */
}

.box-body.active .box-bowtie::before {
  animation: box-bowtie-left 1.1s forwards ease-in-out; /* Existing animation for the left bowtie */
}

.box-body.active .box-bowtie::after {
  animation: box-bowtie-right 1.1s forwards ease-in-out; /* Existing animation for the right bowtie */
}
.box-body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  background: linear-gradient(#ffffff, #ffefa0);
}
.box-lid {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90%;
  height: 30px;
  background-color: #cc231e;
  width: 160px;
  border-radius: 5%;
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
}
.box-lid::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  background: linear-gradient(#ffefa0, #fff);
}
.box-bowtie {
  z-index: 1;
  height: 100%;
}
.box-bowtie::before,
.box-bowtie::after {
  content: "";
  width: 50.33px;
  height: 51.33px;
  border: 8.67px solid white;
  border-radius: 50% 50% 0 50%;
  position: absolute;
  bottom: 99%;
  z-index: -1;
}
.box-bowtie::before {
  left: 50%;
  transform: translateX(-100%) skew(10deg, 10deg);
}
.box-bowtie::after {
  left: 50%;
  transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
}

@keyframes box-lid {
  0%,
  42% {
    transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  60% {
    transform: translate3d(-85%, -230%, 0) rotate(-25deg);
  }
  90%,
  100% {
    transform: translate3d(-119%, 225%, 0) rotate(-70deg);
  }
}

@keyframes box-body {
  0% {
    transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(0%, 25%, 0) rotate(20deg);
  }
  50% {
    transform: translate3d(0%, -15%, 0) rotate(0deg);
  }
  70% {
    transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
}

@keyframes box-bowtie-right {
  0%,
  50%,
  75% {
    transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
  }
}

@keyframes box-bowtie-left {
  0% {
    transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
  50%,
  75% {
    transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
}
